.roomsContainer {
  width: 35%;
  margin: 0 auto;
  border: 2px solid;
}

.roomsHeading {
  border-bottom: 2px solid black;
  padding-bottom: 20px;
  margin-bottom: 0;
  color: purple;
}

.saveButton {
  width: 99%;
  height: 36px;
  background-color: dodgerblue;
  font-size: medium;
  margin: 2px;
}

.noRoomsAvailable {
  padding: 20px;
}
