.addMeetingContainer {
  width: 35%;
  margin: 15px auto;
  border: 2px solid;
  text-align: left;
  padding: 5px;
}

.addMeetingHeading {
  text-align: center;
  margin-top: 8px;
}

.addMeetingInputs {
  margin: 10px;
  display: flex;
}

.findRoomButton {
  width: 100%;
    height: 38px;
    background-color: dodgerblue;
    font-size: medium;
}

.h4Label {
  margin: 0;
  padding: 4px 8px 4px 4px;
}

.errorMessage {
  color: red;
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
}
